<form action="index.php?action=suchen" method="post">
	<fieldset>
		<legend>Dokument Daten</legend>
		<label for="docname">Title </label><br>
		 <input type="text" name="docname"  />	
		 <p>Schlachworte auswählen:</p>
		{{LABELS}}
		<p>Kategorie auswählen:</p>
		<select name="category" class="half">
		<option value = "0">--</option>
			{{CATEGORIES}}
		</select><br />
		<p>Jahr:</p>
		<select name="timestamp" class="quarter">
			<option value="">--</option>
			<option value="2018">2018</option> 
			<option value="2017">2017</option> 
			<option value="2016">2016</option> 
			<option value="2015">2015</option> 
		</select><br />
		<label for="contact">Absender / Empfänger: </label>
		<textarea name="contact"></textarea><br />		
		<label for="location">Ablageort: </label>
		<input type="text" name="location" /><br />	
		<input type="submit" value ="Durchsuchen">
	</fieldset>
</form>


<table id ="results"> 
	<tr>
		<th>Nr</th>
		<th>Name<br /><button onclick="sortTable(1,true);;return false"><i class="fas fa-sort-alpha-down"></i></button>
		<button onclick="sortTable(1,false);return false"><i class="fas fa-sort-alpha-up"></i></button></th>
		<th>Schlagworte<br /><button onclick="sortTable(2,true);return false"><i class="fas fa-sort-alpha-down"></i></button>
		<button onclick="sortTable(2,false);return false"><i class="fas fa-sort-alpha-up"></i></button></th>
		<th>Kategorie<br /><button onclick="sortTable(3,true);return false"><i class="fas fa-sort-alpha-down"></i></button>
		<button onclick="sortTable(3,false);return false"><i class="fas fa-sort-alpha-up"></i></button></th>
		<th>Abs./Emp.<br /><button onclick="sortTable(4,true);return false"><i class="fas fa-sort-alpha-down"></i></button>
		<button onclick="sortTable(4,false);return false"><i class="fas fa-sort-alpha-up"></i></button></th>
		<th>Ablageort<br /><button onclick="sortTable(5,true);return false"><i class="fas fa-sort-alpha-down"></i></button>
		<button onclick="sortTable(5,false);return false"><i class="fas fa-sort-alpha-up"></i></button></th>
		<th>Jahr<br /><button onclick="sortTable(6,true);return false"><i class="fas fa-sort-numeric-down"></i></button>
		<button onclick="sortTable(6,false);return false"><i class="fas fa-sort-numeric-up"></i></button></th>
		<th>Aktionen</th>
	</tr> 
	{{TABLE_RESULT}}

</table>

